MONGODB_URL=
MONGODB_PASSWORD=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=24h
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:8080
SERVER_PORT=8080
